doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='/styles/main.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic", rel="stylesheet")
  body
    block page_id
      - var active = 'Home'

    block content
      main.core
        .core__content
          h1.h1.core__title robohead
          ul.core__contacts
            li: a(href="tel:+79095880138") +7(909)588-01-38
            li: a(href="mailto:hi@robohead.ru") hi@robohead.ru
            li
              include ../blocks/core/telegram.svg
              a(href="https://telegram.me/robohead") @robohead

    script(src='/js/main.js')
